html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #0a9dad;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: 50px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}

.nav-links:hover{
    background-color: rgb(3, 201, 201);
}

.nav-item a:hover{
    background-color: rgba(16, 228, 228);
}

.nav-item-login:hover{
    background-color: rgba(33, 173, 173);
}